<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MHFZ_Overlay.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MHFZ_Overlay.Settings>
            <setting name="EnableDamageNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRoadOverride" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlwaysShowMonsterInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster1BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="Monster2BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="Monster3BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="Monster4BarColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="MonsterPoisonBarColor" serializeAs="String">
                <value>#cba6f7</value>
            </setting>
            <setting name="MonsterBlastBarColor" serializeAs="String">
                <value>#a6e3a1</value>
            </setting>
            <setting name="MonsterSleepBarColor" serializeAs="String">
                <value>#74c7ec</value>
            </setting>
            <setting name="MonsterParaBarColor" serializeAs="String">
                <value>#f9e2af</value>
            </setting>
            <setting name="MonsterStunBarColor" serializeAs="String">
                <value>#7f849c</value>
            </setting>
            <setting name="HPBackGroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="TextBackGroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>#f5e0dc</value>
            </setting>
            <setting name="MonsterStatusInfoX" serializeAs="String">
                <value>1087</value>
            </setting>
            <setting name="MonsterStatusInfoY" serializeAs="String">
                <value>188</value>
            </setting>
            <setting name="MonsterStatusInfoShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="EnableDamageNumbersMulticolor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableEHPNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableRichPresence" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscordClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordServerInvite" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableCurrentHPPercentage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTimeLeftPercentage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DamageNumbersColor" serializeAs="String">
                <value>#fffab387</value>
            </setting>
            <setting name="EnableSharpness" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SharpnessInfoX" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="SharpnessInfoY" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="PartThresholdShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster1PartX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Monster1PartY" serializeAs="String">
                <value>685</value>
            </setting>
            <setting name="AlwaysShowPlayerInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSharpnessPercentage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HunterName" serializeAs="String">
                <value>HunterName</value>
            </setting>
            <setting name="GuildName" serializeAs="String">
                <value>GuildName</value>
            </setting>
            <setting name="TimerInfoShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerX" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TimerY" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="HitCountShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HitCountX" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HitCountY" serializeAs="String">
                <value>560</value>
            </setting>
            <setting name="PlayerAtkShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerAtkX" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PlayerAtkY" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="TimerMode" serializeAs="String">
                <value>Time Left</value>
            </setting>
            <setting name="MonsterAtkMultShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterAtkMultX" serializeAs="String">
                <value>1140</value>
            </setting>
            <setting name="MonsterAtkMultY" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MonsterDefrateShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterDefrateX" serializeAs="String">
                <value>1140</value>
            </setting>
            <setting name="MonsterDefrateY" serializeAs="String">
                <value>230</value>
            </setting>
            <setting name="MonsterSizeShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterSizeX" serializeAs="String">
                <value>1140</value>
            </setting>
            <setting name="MonsterSizeY" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="MonsterPoisonShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterPoisonX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterPoisonY" serializeAs="String">
                <value>310</value>
            </setting>
            <setting name="MonsterSleepShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterSleepX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterSleepY" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="MonsterParaShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterParaX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterParaY" serializeAs="String">
                <value>390</value>
            </setting>
            <setting name="MonsterBlastShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterBlastX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterBlastY" serializeAs="String">
                <value>430</value>
            </setting>
            <setting name="MonsterStunShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterStunX" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="MonsterStunY" serializeAs="String">
                <value>470</value>
            </setting>
            <setting name="DamageNumbersX" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="DamageNumbersY" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="DamageNumbersAreaWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="DamageNumbersAreaHeight" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="EnableHighestAtkColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster1IconShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster1IconX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Monster1IconY" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="DiscordTimerMode" serializeAs="String">
                <value>Time Left</value>
            </setting>
            <setting name="DiscordRoadTimerReset" serializeAs="String">
                <value>Never</value>
            </setting>
            <setting name="DiscordQuestNameShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscordArmorSetShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCaravanOverride" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="EnableCaravanScore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster1HealthBarShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster1HealthBarX" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="Monster1HealthBarY" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Monster2HealthBarShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster2HealthBarX" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="Monster2HealthBarY" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="Monster3HealthBarShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster3HealthBarX" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="Monster3HealthBarY" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="Monster4HealthBarShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster4HealthBarX" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="Monster4HealthBarY" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="TextFormatExport" serializeAs="String">
                <value>Image</value>
            </setting>
            <setting name="GenderExport" serializeAs="String">
                <value>Male</value>
            </setting>
            <setting name="GouBoostExport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GSRUnlocksExport" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="Enable11GSR999" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableMetadataExport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GearDescriptionExport" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MapAreaWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MapAreaHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MapX" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MapY" serializeAs="String">
                <value>410</value>
            </setting>
            <setting name="ArmorSkillsInfo" serializeAs="String">
                <value>Priority</value>
            </setting>
            <setting name="MotionValuesInfo" serializeAs="String">
                <value>Sword and Shield</value>
            </setting>
            <setting name="WeaponTypeInfo" serializeAs="String">
                <value>Element/Status/Bloat</value>
            </setting>
            <setting name="GuildOptionInfo" serializeAs="String">
                <value>About</value>
            </setting>
            <setting name="CaravanOptionInfo" serializeAs="String">
                <value>About</value>
            </setting>
            <setting name="CompanionOptionInfo" serializeAs="String">
                <value>Partner</value>
            </setting>
            <setting name="GuildCardBackground" serializeAs="String">
                <value>Ashen Lao-Shan Lung</value>
            </setting>
            <setting name="EnableUpdateNotifier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FeriasVersionLink" serializeAs="String">
                <value>https://xl3lackout.github.io/MHFZ-Ferias-English-Project/</value>
            </setting>
            <setting name="MaxFaintsOverride" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="EnableDamageMeter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DamageMeterBackGroundColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="DamagerMeter1PColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="DamageMeter2PColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="DamageMeter3PColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="DamageMeter4PColor" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="DamageMeterMode" serializeAs="String">
                <value>Total Damage</value>
            </setting>
            <setting name="FrameCounterShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrameCounterX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="FrameCounterY" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="PlayerAttackGraphShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerAttackGraphX" serializeAs="String">
                <value>740</value>
            </setting>
            <setting name="PlayerAttackGraphY" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="EnableQuestLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayerDPSX" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PlayerDPSY" serializeAs="String">
                <value>520</value>
            </setting>
            <setting name="EnableHighestDPSColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscordServerID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerNationalityIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DamagePerSecondShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProgressBarIconsShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayStatIconShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterPartsIconShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHighestMonsterAttackMultiplierColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableLowestMonsterDefrateColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDamageNumbersSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDamageNumbersFlash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableQuestPaceColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAverageHitsPerSecondColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HitsPerSecondShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TotalHitsTakenBlockedShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TotalHitsTakenBlockedPerSecondShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTotalHitsTakenBlockedColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TotalHitsTakenBlockedX" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TotalHitsTakenBlockedY" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="KBMLayoutShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KBMLayoutX" serializeAs="String">
                <value>820</value>
            </setting>
            <setting name="KBMLayoutY" serializeAs="String">
                <value>610</value>
            </setting>
            <setting name="GamepadShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GamepadX" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="GamepadY" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="EnableInputLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxResolutionWidth" serializeAs="String">
                <value>1360</value>
            </setting>
            <setting name="MaxResolutionHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="ActionsPerMinuteShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActionsPerMinuteX" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ActionsPerMinuteY" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="EnableAverageActionsPerMinuteColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerInputHorizontalGridShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerInputHorizontalGridX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PlayerInputHorizontalGridY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PlayerInputVerticalGridShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerInputVerticalGridX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerInputVerticalGridY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster1OverviewShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster1OverviewX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster1OverviewY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster2OverviewShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster2OverviewX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster2OverviewY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster3OverviewShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster3OverviewX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster3OverviewY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster4OverviewShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monster4OverviewX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Monster4OverviewY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayModeWatermarkShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayModeWatermarkX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="OverlayModeWatermarkY" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="QuestIDShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuestIDX" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="QuestIDY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EnableMonsterRenders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableMonsterHPBarsAutomaticColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster1BarStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="Monster2BarStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="Monster3BarStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="Monster4BarStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="MonsterPoisonStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="MonsterSleepStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="MonsterParaStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="MonsterBlastStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="MonsterStunStrokeColor" serializeAs="String">
                <value>#1e1e2e</value>
            </setting>
            <setting name="PlayerDPSGraphShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerDPSGraphX" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PlayerDPSGraphY" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="PlayerHitsPerSecondGraphShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerHitsPerSecondGraphX" serializeAs="String">
                <value>430</value>
            </setting>
            <setting name="PlayerHitsPerSecondGraphY" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PlayerAPMGraphShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerAPMGraphX" serializeAs="String">
                <value>510</value>
            </setting>
            <setting name="PlayerAPMGraphY" serializeAs="String">
                <value>530</value>
            </setting>
            <setting name="PlayerAttackGraphColor" serializeAs="String">
                <value>#a6e3a1</value>
            </setting>
            <setting name="PlayerAttackGraphBackground" serializeAs="String">
                <value>#001e1e2e</value>
            </setting>
            <setting name="PlayerDPSGraphColor" serializeAs="String">
                <value>#f38ba8</value>
            </setting>
            <setting name="PlayerDPSGraphBackground" serializeAs="String">
                <value>#001e1e2e</value>
            </setting>
            <setting name="PlayerHitsPerSecondGraphColor" serializeAs="String">
                <value>#f9e2af</value>
            </setting>
            <setting name="PlayerHitsPerSecondGraphBackground" serializeAs="String">
                <value>#001e1e2e</value>
            </setting>
            <setting name="PlayerAPMGraphColor" serializeAs="String">
                <value>#cba6f7</value>
            </setting>
            <setting name="PlayerAPMGraphBackground" serializeAs="String">
                <value>#001e1e2e</value>
            </setting>
            <setting name="PersonalBestShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PersonalBestX" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PersonalBestY" serializeAs="String">
                <value>440</value>
            </setting>
            <setting name="DatabaseFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SessionTimeShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SessionTimeX" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SessionTimeY" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="ShowDiscordRPCOverlayMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuestAttemptsShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuestAttemptsX" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="QuestAttemptsY" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="PreviousVersionFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LocationTextShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocationTextX" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="LocationTextY" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="QuestNameShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuestNameX" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="QuestNameY" serializeAs="String">
                <value>520</value>
            </setting>
            <setting name="EnablePersonalBestPaceColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PersonalBestTimePercentShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PersonalBestTimePercentX" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="PersonalBestTimePercentY" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="PrimaryFontFamily" serializeAs="String">
                <value>MS Gothic</value>
            </setting>
            <setting name="PrimaryFontSize" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="PrimaryFontWeight" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="SecondaryFontFamily" serializeAs="String">
                <value>MesloLGM NF</value>
            </setting>
            <setting name="SecondaryFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SecondaryFontWeight" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="DamageNumbersFontFamily" serializeAs="String">
                <value>MS Gothic</value>
            </setting>
            <setting name="DamageNumbersFontWeight" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="EnableOutsideMezeportaLoadingWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PersonalBestAttemptsShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PersonalBestAttemptsX" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="PersonalBestAttemptsY" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="EnableNationality" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableMonsterEHPDisplayCorrector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterEHPDisplayCorrectorDefrateMinimumThreshold"
                serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="MonsterEHPDisplayCorrectorDefrateMaximumThreshold"
                serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Debug</value>
            </setting>
            <setting name="EnableQuestCompletionsCounter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GamepadSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="KBMLayoutSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="PlayerAttackGraphWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="PlayerDPSGraphWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="PlayerHitsPerSecondGraphWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="PlayerAPMGraphWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="PlayerAttackGraphHeight" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="PlayerDPSGraphHeight" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="PlayerHitsPerSecondGraphHeight" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="PlayerAPMGraphHeight" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="RenderingMode" serializeAs="String">
                <value>Hardware</value>
            </setting>
            <setting name="ZenithGauntletMonstersShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ZenithGauntletMonstersX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZenithGauntletMonstersY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZenithGauntletMonstersWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZenithGauntletMonstersHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZenithGauntletOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="MusouGauntletMonstersShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MusouGauntletMonstersX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusouGauntletMonstersY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusouGauntletMonstersWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusouGauntletMonstersHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusouGauntletOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="SolsticeGauntletMonstersShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SolsticeGauntletMonstersX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SolsticeGauntletMonstersY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SolsticeGauntletMonstersWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SolsticeGauntletMonstersHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SolsticeGauntletOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="DamageNumbersMode" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="HideOverlayWhenUnfocusedGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterBarHPModeShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterBarIconShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterBarNameShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterBarNumbersShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterBarShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Monster1BarBorderColor" serializeAs="String">
                <value>#11111b</value>
            </setting>
            <setting name="Monster2BarBorderColor" serializeAs="String">
                <value>#11111b</value>
            </setting>
            <setting name="Monster3BarBorderColor" serializeAs="String">
                <value>#11111b</value>
            </setting>
            <setting name="Monster4BarBorderColor" serializeAs="String">
                <value>#11111b</value>
            </setting>
            <setting name="MonsterPoisonBarBorderColor" serializeAs="String">
                <value>#11111b</value>
            </setting>
            <setting name="MonsterParalysisBarBorderColor" serializeAs="String">
                <value>#11111b</value>
            </setting>
            <setting name="MonsterSleepBarBorderColor" serializeAs="String">
                <value>#11111b</value>
            </setting>
            <setting name="MonsterStunBarBorderColor" serializeAs="String">
                <value>#11111b</value>
            </setting>
            <setting name="MonsterBlastBarBorderColor" serializeAs="String">
                <value>#11111b</value>
            </setting>
            <setting name="GauntletProgressX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GauntletProgressY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GauntletProgressWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GauntletProgressHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BingoProgressX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BingoProgressY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BingoProgressSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GauntletProgressShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BingoProgressShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VolumeMain" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="VolumeAchievementUnlock" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeChallengeUnlock" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeChallengeStart" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeHover" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeGachaUnlock" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeGachaTrial" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeSelect" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeGachaRare" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OverlayWatermarkMode" serializeAs="String">
                <value>Final</value>
            </setting>
            <setting name="DiscordOverlayMode" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="QuestToggleMonsterModeShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAttemptsPerPersonalBest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerPositionShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerPositionX" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PlayerPositionY" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="PlayerPositionMode" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="DivaSongTimerShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DivaSongTimerX" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DivaSongTimerY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GuildFoodTimerShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GuildFoodTimerX" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GuildFoodTimerY" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PlayerInputUnpressedOpacity" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="PlayerInputPressedOpacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="DualSwordsSharpensShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DualSwordsSharpensX" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="DualSwordsSharpensY" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="FrontierServerOption" serializeAs="String">
                <value>Local</value>
            </setting>
            <setting name="EnableAchievementsTracking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenSettingsHotkey" serializeAs="String">
                <value>Shift + F1</value>
            </setting>
            <setting name="RestartProgramHotkey" serializeAs="String">
                <value>Shift + F5</value>
            </setting>
            <setting name="CloseProgramHotkey" serializeAs="String">
                <value>Shift + F6</value>
            </setting>
        </MHFZ_Overlay.Settings>
    </userSettings>
</configuration>
