<?xml version="1.0" encoding="utf-8" ?>
<!--
// © 2023 The mhfz-overlay developers.
// Use of this source code is governed by a MIT license that can be
// found in the LICENSE file.
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false" throwConfigExceptions="true">

	<variable name="replaceNamesInMessage"
	  value="${replace:inner=${message:withException=true}:searchFor=\\\\Users\\\\[a-zA-Z0-9_-]+\\\\:replaceWith=\\Users\\NAME\\:regex=true}"/>

	<targets>
		<target name="logfile" xsi:type="File" fileName="logs/logs.log" layout="${longdate}|${level:uppercase=true}|${logger}|${replaceNamesInMessage}"/>
	</targets>
	<!--The default Layout for NLog Target is this:

${longdate}|${level:uppercase=true}|${logger}|${message:withException=true}
-->
    <rules>
        <logger name="MHFZ_Overlay.*" minlevel="Debug" writeTo="logfile"/>
	</rules>
</nlog>